data/.langchain.db
data/.embedding.langchain.db
data/.*langchain.db
data/.langchain.db
data/.langchain.db
data/.embedding.langchain.db
data/.embedding.langchain.db
data/.langchain.db

APIKEY.txt
.fullpages
.ipynb_checkpoints
__pycache__
.env
venv

DB/
tmp.md
devil/
tpn/
.venv
substack_cache

data/.langchain.db
data/.embedding.langchain.db
data/.*langchain.db
data/.langchain.db
data/.langchain.db
data/.embedding.langchain.db
data/.embedding.langchain.db
data/.langchain.db

run_all*
errors.log
